@{
    ViewData["Title"] = "PAGRINDINIS";
}

<div class="text-center">
    <h1 class="display-4"><b>FILMŲ PORTALAS</b></h1>
    <p>Dokumentacija į puslapį: <a href="https://docs.microsoft.com/aspnet/core"><b> ASP.NET Core </b></a> .</p>
</div>
